.footer-container {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: -1px;
  width: 100%;
}
.links {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: x-small;
  margin: 5px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  flex: 1;
  justify-content: center;
}
.links:hover {
  color: black;
  background-color: #dbc554;
  font-weight: bold;
  transition: all 0.1s ease-in;
}
