* {
  /*box-sizing: border-box;*/
}
html, body {
  height: 100%;
  box-sizing: border-box
}
body {
  background-color: #2e2e2e;
  margin: 0;
  padding-top: 70px;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Slab');
