.polaroid {
  position: relative;
  min-height: 100%;
  max-height: 100%;
  width: calc(100% - 40px);
  padding: 10px 10px 50px 10px;
  border: 1px solid #d9cece;
  margin: 10px;
  background-color: #f5f5f9;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  transition: all .3s ease-in-out;
  display: flex;
  flex-direction: column;
}
.vote-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0;
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
}
.vote-stats {
  display: flex;
  align-items: center;
  height: 100%;
}
.vote-stats svg {
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 50%;
}
.vote-stats-left {
  display: flex;
  align-items: center;
}
.vote-divider {
  display: flex;
  align-items: center;
  height: 100%;
}
.vote-count {
  font-family: 'Open Sans'
}
.downvote {
  transform: rotateZ(180deg);
}
.polaroid .vote {
  cursor: pointer;
  fill: rgba(76, 67, 67, 0.78);
  transition: fill 0.4s ease;
}
.polaroid .vote.downvote:hover {
  fill: rgba(236, 67, 92, 0.78);
  transition: fill 0.4s ease;
}
.polaroid .vote:hover {
  fill: rgba(35, 186, 136, 0.78);
  transition: fill 0.4s ease;
}
.vote-validate {
  opacity: 0;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "helvetica neue";
  color: #5d809a;
}
.vote-validate.show {
  animation: flash 1.2s;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 767px) {
  .col.single {
    pointer-events: none;
  }
  .polaroid {
    padding-bottom: 50px;
  }
}
